*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('../images/background_image.jpg');
    background-size: cover;
}
header{
    border: 3px solid black ;
    background-color: grey;
    padding-bottom: 10px;

}
header div{
        display: flex;  
}
header h1{
    padding-top: 80px;
    padding-left: 20px;
    color:beige;
}  
#photo{
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 30px;
}
nav{
    padding: 50px;
    margin-left: px;
    padding-top: 100px;

}
nav a:hover{
    background-color:burlywood;
}
nav a{
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    /* margin-right:5px; */
    margin-left: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:20px;
    border-radius: 20px;
    border-top: 100px;
}
#section-1{
    display: inline-block;
    border: 3px solid black;
    border-radius: 30px;
    width: 60%;
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 22px;
    line-height: 25px;
}
#section-2{
    text-align: center;
    border:3px solid black;
    display:inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 20px;
    padding: 25px;
    width: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}
#section-2 h4{
    text-align: center;
    border: 3px solid black;
    float: left;
    margin-right: 9px;
    margin-bottom: 23px;
    margin-left: 20px;
    padding: 16px;
    width: 105px;
    height: 30px;
    border-radius: 10px;
}
#section-3{
    border: 3px solid black;
    padding:30px;
    margin-top: 15px;
    margin-right:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-left:25px;
}
#section-1:hover{
    background-color:blanchedalmond;
}
#section-2:hover{
    background-color:blanchedalmond;
}
#section-3:hover{
    background-color:blanchedalmond;
}
#section-4{
    border:1px solid black;
    margin-left:20px;
    margin-top: 10x;
    margin-right:20px;
    padding:30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right:20px;
    border-radius: 30px;
    margin-bottom: 25px;
    list-style-position: inside;
    border: 3px solid black;
}
#section-4:hover{
    background-color:blanchedalmond;
}
#section-5{
    border: 3px solid black;
    margin-left:20px;
    margin-bottom: 10px;
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    height: 300px;
    display: inline-block;
}
#section-5 h3{
    text-align: center;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#section-5 form{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#section-5 a{
    border: 2px solid black;
}
form select{
    border: 3px solid black;
    border-radius: 10px;;
}

#section-6{
    border: 3px solid black;
    width:700px;
    height: 265px;
    margin-bottom: 30px;
    float: right;
    margin-right: 20px;
    padding-top: 40px;
    padding-left: 50px;
    border-radius: 20px;

}
.form-first{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#text-1{
    border: 3px solid black;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    width: 50%;

}
#text-2{
    border: 3px solid black;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
}

#submit-first{
    margin-top: 5px;
    margin-left: 50px;
    border: 2px solid black;
    height: 40px;
    width: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#submit-first:hover{
    background-color:burlywood;
}
#section-5:hover{
    background-color:blanchedalmond;
}
#section-6:hover{
    background-color:blanchedalmond;
}
footer{
    border: 1px solid black;
    padding-top: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:grey;
    height: 30px;
}






















